<div class="nav-bar">
    <div>
        <b class="logo">Clyozx</b>
    </div>
    <div class="nav-items">
        <a href="/" class="nav-item nav-btn">Home</a>
        <a href="/projects" class="nav-item nav-btn">Projects</a>
        <a href="/about" class="nav-item nav-btn">About</a>
    </div>
</div>
<table class="nav-bar">
    <th>
        <div>
            <b class="logo">Clyozx</b>
        </div>
    </th>
    <th>
        <div class="nav-items">
            <a href="/" class="nav-item nav-btn">Home</a>
            <a href="/projects" class="nav-item nav-btn">Projects</a>
            <a href="/about" class="nav-item nav-btn">About</a>
        </div>
    </th>
</table>