<link rel="stylesheet" href="css/navbar.css">
<div class="nav-bar">
    <a href="/" class="nav-item nav-btn">Home</a>
    <a href="/projects" class="nav-item nav-btn">Projects</a>
    <a href="/about" class="nav-item nav-btn">About</a>
</div>