<h1>About Clyozx</h1>
<p>
    This is the about page for the Clyozx website.
</p>

<h1>Who am I?</h1>
<p>
    I am a CS Student studying Software development.
    I have a large interest in algorithms and have made this website as a learning experience
    and hope to inspire others to do the same.
</p>

<h1>Ressources</h1>
<p>
    Most (if not all) of the projects on this website are inspired by one or more of the following people.
</p>
<ul>
    <li><a href="https://www.youtube.com/@TheCodingTrain">The Coding Train</a></li>
    <li><a href="https://www.youtube.com/@CodeBullet">Code Bullet</a></li>
</ul>
<p>
    Furthermore, thanks to the <a href="https://processing.org/">Processing Foundation</a> and <a href="https://p5js.org/">P5.js</a> for creating an awesome learning tool.
</p>