<h1>Clyozx Projects</h1>
<p>
    A list of all projects I have made for this web page.
    They are categorized into different categories to make searching for a specific project easier.
</p>

<h2>Search Algorithms</h2>
<p>
    This chapter covers small projects with many different search algorithms.
</p>

<h2>Sorting algorithms</h2>
<p>
    This chapter touches on some classic sorting algorithms.
</p>
<a href="sort_visualizer">Sorting visualizer</a>